lab3/WebApplication3/Web References/FINALONLINE/serviciohoras.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetDedicacionMedia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="asignatura" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDedicacionMediaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetDedicacionMediaResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDedicacionMediaSoapIn">
    <wsdl:part name="parameters" element="tns:GetDedicacionMedia" />
  </wsdl:message>
  <wsdl:message name="GetDedicacionMediaSoapOut">
    <wsdl:part name="parameters" element="tns:GetDedicacionMediaResponse" />
  </wsdl:message>
  <wsdl:portType name="serviciohorasSoap">
    <wsdl:operation name="GetDedicacionMedia">
      <wsdl:input message="tns:GetDedicacionMediaSoapIn" />
      <wsdl:output message="tns:GetDedicacionMediaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="serviciohorasSoap" type="tns:serviciohorasSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDedicacionMedia">
      <soap:operation soapAction="http://tempuri.org/GetDedicacionMedia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="serviciohorasSoap12" type="tns:serviciohorasSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDedicacionMedia">
      <soap12:operation soapAction="http://tempuri.org/GetDedicacionMedia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="serviciohoras">
    <wsdl:port name="serviciohorasSoap" binding="tns:serviciohorasSoap">
      <soap:address location="https://serviciosoap20180426053553.azurewebsites.net/serviciohoras.asmx" />
    </wsdl:port>
    <wsdl:port name="serviciohorasSoap12" binding="tns:serviciohorasSoap12">
      <soap12:address location="https://serviciosoap20180426053553.azurewebsites.net/serviciohoras.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>